.harbour {
  width: 150px;
  border: 3px solid blue;
  height: 170px;
}

.ship--block {
  display: flex;
  cursor: pointer;
  margin: 10px;
}

.ship--block.placing {
  opacity: 0.5;
}

.ship--unit {
  width: 20px;
  height: 20px;
  background-color: orange;
  border: 1px solid black;
  margin: 0 -1px -1px 0;
}
